.home-container {
    padding: 115px 0px 0px 120px;
}

.text-title {
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.text {
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-bottom: 50px;
}