.info-card {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #595959;
    margin-right: 8px;
}