.container{
    padding: 55px 100px 70px 90px;
    display: flex;
    align-items: center;
}

.search-card {
    width: 665px;
    height: 165px;
    background: #E6F7FF;
    border-radius: 16px;
    padding: 65px 480px 40px 95px;
}

.text-title {
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.search-input {
    margin-top: 12px;
    margin-bottom: 25px;
    padding: 10px 25px 10px 15px;
    width: 635px;
    height: 30px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

.card {
    margin-top: 55px;
}

.response-card {
    width: 1088px;
    display: flex;
    background: #F5F5F5;
    border-radius: 8px;
    padding: 25px 25px 25px 30px;
}

.user-image {
    width: 284px;
    height: 280px;
    margin-bottom: 15px;
}

.superior-card-info {   
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.card-info {
    width: 750px;
    margin-left: 45px;
    margin-top: 12px;
    padding: 8px 15px 17px 15px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
}

.info-text {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1890FF;
}

.text-data {
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
}

.text-data-response {
    font-weight: normal;
}