.btn-icon {
    width: 100px;
    height: 40px;
    background: #1890FF;
    border-radius: 4px;
    border: none;
    padding: 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    &:hover {
        background: #5daefa;
        border: #1890FF;
    }
}
