.main-nav {
    height: 60px;
    width: 100%;
    color: #FFFFFF;
    align-items: center;
    padding: 15px 0 15px 40px;
    background: #1890FF;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
}

.text-bar {
    color: #fff;
}